*{
    font-family: "Arial", "Helevetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    }

body{
        background: gray;
        width: 960px;
        padding-left: 40px;  
        padding-right: 40px;
        margin-left: 80px;
        margin-right: 80px;
        overflow: auto;
    }

header{
    background: #ffffff;
    text-align: center;
    height: 116px;
    width: 100%;
}

/* fixed nav bar by making position relative and pushing it down from the top halfway */
a{
    color: red;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    top: 58px;
}

#myname{
    width: 150px;
    padding: 0px;
    text-align: center;
    background: teal;
    margin: 0;
    color: white;
}

/* had to float the h1 tag to the left */
#head1{
    background: teal;
    color: white;
    padding: 30px;
    float: left;
    height: 116px;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
}

#aboutme{
    float: left;
    margin-bottom:

}

#content{
    background: tan;
    overflow: auto;
    width: 100%;
}

#headerInsideContent{
    text-align: left;
    background: tan;
    color: teal;
    height: 80px;
    border-bottom: 2px solid gray;
}

#photo{
    width: 150px;
    float: left;
    overflow: auto;
}


footer{
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    background: purple; 
}